
/*For mobile small screens (now is useless, style-small works*/
@media screen and (max-width: 320px){

    #container {
        margin: 0px;
        background-color: #8EA49E
    }

    body {
        background-color: #1E9071;
    }

    header, section, figure, nav, article, footer {
        display: block;
        margin: 5px;
    }

    nav {
        width: 90%;
        height: 125px;
        margin: 0px auto;
    }


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;        
    }

            ul > li > a {
                display: block;
                background-color: #36343C;
                text-decoration: none;
                border: thin white solid;
                color: white;
                text-align: center;
                padding: 5px 10px;
                border-radius: 4px;
            }

            ul > li:hover {
                background-color: #D1942B;
            }

    section {
        margin: 0px;
        padding: 0px 0;
    }

    article {
        background-color: #67617D;
        border: thin white solid;
        padding: 3%;
    }

    .menuArticles {
        display: none;
    }

    figure {
        width: 260px;
        margin: 0px auto;
        padding: 10px;
    }

    .image {
        display: block;
        width: 245px;
        height: 80px;
        text-align: center;
    }

    footer {

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        color: white;
        font-size: small;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}
