/** Author: Luis David **/
* {
	box-sizing: border-box;
	font-family: 'Crimsom Text', sans-serif;
	font-size: 1.1em;
}

/**-----HEADER-----**/
#header-nav {
	background-color: #f2f2f2;
}
.navbar-brand {
	padding-top: 30px;
	width: 60%;
}
.navbar-brand h1 {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 1.8em;
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 2px #A19D9D;
	margin-bottom: 0;
	margin-right: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#logo-img {
	background: url('../images/yingyang.jpg') no-repeat;
	width: 250px;
	height: 250px;
	margin: 10px;
	padding: 10px;
}
#nav-list {
	margin-top: 130px;
	margin-right: 5%;
}
#nav-list li {
	font-size: 1.2em;
	border-right: thin #e6e6e6 solid;
	padding: 2px;
}
#nav-list a:hover, #nav-list a:active {
	border-bottom: thick #e6e6e6 solid;
	border-radius: 0 15px;
}
#collapsable-nav {
	width: 100%;
	padding: 0;
}

/**-----MAIN CONTENT-----**/
/*#main-container {
	width: 95%;
}*/
#text-main {
	text-align: justify;
}
#text-main, #video-section, #map-section {
	position: relative;
	left: 20%;
	margin-top: 60px;
}
#text-main, #map-section {
	margin-bottom: 80px;
}
#video-header, #map-header, #map-location {
	color: #fff;
	font-size: 1.6em;
	padding: 10px;
	position: absolute;
	height: 60px;
	z-index: 100;
	text-transform: uppercase;
	background-color: #000;
}
#map-location {
	color: #fff;
	padding: 10px;
	position: absolute;
	height: 60px;
	z-index: 100;
	background-color: #000;
}
#video-header {
	top: 380px;
	width: 100%;
}
#video-main {
	width: 100%;
	height: 400px;
	position: relative;
}
#map-header {
	top: 320px;
	width: 100%;
	height: 60px;
	opacity: 0.8;
}
#map-location {
	top: 390px;
	width: 100%;
	font-size: 1.1em;
	text-transform: none;
	opacity: 0.9;
}
#map {
	margin-left: 0;
	width: 100%;
	height: 400px;
}
#content h1 {
	font-size: 1.2em;
	margin-top: 5px;
	clear: both;
}
#content p, #content a{
	font-size: .75em;
}
#content a {
	float: left;
}

#text-historia-main div article {
	margin: 20px;
}

fieldset {
	position: relative;
	padding: .35em .635em .75em;
	margin: 15px;
	border: 1px solid silver;
	width: 60%;
	margin-left: 20%;
}
#name, #email {
	width: 100%;
}

#message {
	width: 100%;
	height: 200px !important; /*to override element.style*/
	resize: vertical;
}

#aboutHeader {
	margin-bottom: 30px;
}

/**-------FOOTER-------*/
footer {
	background-color: #000;
	color: #fff;
	padding: 10px;
}
/*#footer-container {
	width: 95%;
}*/
#location {
	clear: both;
	font-size: 0.9em;
	margin-top: 20px;
}

/**--------Large devices only---------**/
@media (min-width: 1200px) {
	#name, #email, #message {
		width: 80%;
	}
}

/**---------Medium devices---------**/
@media (min-width: 992px) and (max-width: 1199px) {
	/**-----HEADER-----**/
	#logo-img {
		background: url('../images/yingyang-medium.jpg') no-repeat;
		width: 200px;
		height: 200px;
	}
	#nav-list {
		margin-top: 90px;
		margin-right: 5%; 
	}
	#nav-list li {
		font-size: 1em;
	}

	/**-----MAIN CONTENT-----**/
	#video-col, #map-col {
		padding-right: 0;
		padding-left: 0;
	}
	#text-main, #video-section, #map-section {
		left: 0;
		margin-right: 3%;
		margin-left: 5%;
	}
	#video-section, #map-section {
		margin-bottom: 80px;
	}

	/**-------FOOTER-------*/
	#hours, #adress {
		width: 50%;
	}
}

/**---------Small devices----------**/
@media (min-width: 768px) and (max-width: 991px) {
	/**-----HEADER-----**/
	#logo-img {
		background: url('../images/yingyang-small.jpg') no-repeat;
		width: 150px;
		height: 150px;
	}
	.navbar-brand {
		padding-top: 10px;
		width: 75%;
	}
	#nav-list {
		margin-top: 60px;
		margin-right: 0; 
		padding: 10px;
	}
	#nav-list li {
		font-size: 0.70em;
	}
	.hidden-md {
		display: none !important;
	}

	/**-----MAIN CONTENT-----**/
	#text-main, #video-section, #map-section {
		left: 0;
	}
	#text-main,#video-section{
		margin-top: 20px;
	}
	#video-header {
		top: 280px;
		height: auto;
	}
	#video-main {
		height: 300px;
		text-align: left;
	}
	#map-header {
		top: 240px;
		padding: 5px;
		height: auto;
	}
	#map-location {
		height: auto;
		top: 295px;
	}
	#map {
		height: 300px;
	}

	/**-------FOOTER-------*/
	#location {
		padding-top: 20px;
	}
}

/**---- x-small devices -----**/
@media (min-width: 321px) and (max-width: 767px) {
	/**-----HEADER-----**/
	.navbar-brand {
		height: 100px;
		width: 90%;
	}
	.navbar-brand h1 {
		margin: 0;
		font-size: 1.26em;
		width: 90%;
	}
	#nav-list {
		margin: 0;
	}
	#nav-list li {
		font-size: 0.7em;
	}
	.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  		border: 1px solid #000;
	}
	.navbar-header button.navbar-toggle {
		clear: both;
		margin-top: -20px;
	}

	/**-----MAIN CONTENT-----**/
	#text-main, #video-section, #map-section {
		left: 0;
		font-size: .75em;
	}
	#text-main,#video-section{
		margin-top: 20px;
	}
	#video-header {
		top: 180px;
		height: auto;
	}
	#video-main {
		height: 200px;
		text-align: left;
	}
	#map-header {
		top: 140px;
		height: auto;
	}
	#map-location {
		height: auto;
		top: 193px;
	}
	#map {
		height: 200px;
	}

	fieldset {
		width: 90%;
		margin-left: 5%;
		font-size: .9em;
	}

	/**-------FOOTER-------*/
	#hours, #adress, #location {
		margin-top: 10px;
	}
}

/**------  xx-small devices -------**/
@media (max-width: 320px) {
	/**-----HEADER-----**/
	.navbar-brand {
		width: 100%;
		height: 60px;
	}
	.navbar-brand h1 {
		margin: 0;
		font-size: 1em;
		width: 80%;
	}
	#nav-list {
		margin: 0;
	}
	#nav-list li {
		font-size: 0.7em;
	}

	/**-----MAIN CONTENT-----**/
	#text-main {
		text-align: left;
		line-height: 1;
	}

	#text-main, #video-section, #map-section {
		left: 0;
		font-size: .75em;
	}
	#text-main, #video-section {
		margin-top: 20px;
	}
	#video-header {
		top: 180px;
		height: auto;
	}
	#video-main {
		height: 200px;
		text-align: left;
	}
	#map-header {
		top: 140px;
		height: auto;
	}
	#map-location {
		height: auto;
		top: 193px;
	}
	#map {
		height: 200px;
	}

	h2 {
		margin-top: 5px;
		font-size: 1.3em;
	}
	fieldset {
		width: 90%;
		margin-left: 5%;
		font-size: .8em;
	}


	/**-------FOOTER-------*/
	#hours, #adress {
		font-size: .9em;
	}
	.visible-xxs {
		display: block !important;
	}
	.hidden-xxs {
		display: none !important;
	}

}